/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 20, 2023, 1:34:39 PM
    Author     : PC
*/
main {
       color: black;

}

.container {
       padding: 30px;
       padding-left: 100px;

}

.decor1 {
       margin-top: 3px;
       width: 5px;
       height: 24px;
       background-color: #00a40b;
       float: left;
}

.h4-match {
       font-size: 24px;
       width: auto;
       margin: 0;
       margin-left: 10px;
}

.p-match {

       margin: 2%;
       margin-top: 0;
       font-size: 15px;
       font-weight: 100;
}

.photoedit {
       width: 40px;
       height: 44px;
       border-radius: 10px;

}

.line {
       border: 1px solid black;
       background-color: black;
}

.edit {
       text-align: center;
}

.coleditleft {
       margin-top: 5%;
       padding-left: 0;
}

.box {
       margin-top: 20px;
}

.coleditright {
       margin-top: 5%;
       padding-right: 0;
}

.decorbox {
       background-color: rgb(187, 255, 191);
       border-bottom-right-radius: 15px;
       border-bottom-left-radius: 15px;
       margin-top: 30px;
}

.custom1 {
       background-color: white;
}

.custom {
       background-color: #ebeeef;
}

.infomation-1 {
       font-size: 19px;
       font-weight: 400;
}

.searching {
       border-radius: 5px;
       border: 1px solid #ced4da;
}
