body {
  padding-top: 61.6px;
}

.p-home {
  color: white;
  font-size: 16px;
}

.banner {
  width: 100%;
  height: 95vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(homeimg.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  z-index: -99;
}

.cnter-1 {
  width: 100%;
  top: 50%;
  position: absolute;
  text-align: center;
}

.bannerh1 {
  font-size: 40px;
  word-spacing: 0px;
  text-shadow: 0 0 7px rgb(0, 245, 118);
}

.bannera {
  width: 200px;
  padding: 10px;
  text-align: center;
  margin-left: 15px;
  margin-right: 20px;
  border-radius: 10px;
  font-weight: bold;
  border: 2px solid rgb(30, 161, 69);
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;

}

.bannera:hover {
  background-color: rgb(10, 170, 58);
  transition: 0.5s;
  color: white
}

.bannera:hover {
  border: none;
}

.bannerdiv {
  position: absolute;
}

.boxhome {
  width: 100%;
  height: 200px;
  border-radius: 15;
  background-color: aquamarine;
}

.decorhome {
  width: 200px;
  height: 2px;
  background-color: rgb(0, 207, 10);
  border-radius: 99;
}

.homebox {
  width: auto;
  height: 300px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.homebox-1 {
  background-color: rgb(243, 255, 245);
  height: fit-content;
  width: auto;
  padding: 50px 100px 50px 100px;

}

.homebox-2 {
  background-color: rgb(243, 255, 245);
  height: fit-content;
  width: auto;
  padding: 100px 100px 50px 100px;

}

.page {
  position: relative;
  padding-top: 80px;
  padding-bottom: 70px;
  overflow: hidden;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(206, 255, 206);
}
